.lineal {
    width: 300px;
    height: 300px;
    background: linear-gradient(red, orange);
}

@keyframes mi-efecto {

    0% {
        background-image: url() 

    }

    50% {
        background-image: url()
    }

    100% {
        background-image: url() ;
    }
    
}