body {
  
  background-image: url(https://www.wallpapertip.com/wmimgs/22-225256_476268-title-sci-fi-stars-wallpaper-high-resolution.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(45, 45, 47, 0.65);
}

div.gallery {
  margin: 5px;
  float: left;
  width: 250px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.gallery :hover {
  border: 1px solid #777;
  width: 300px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/* maps */
.icon-facebook {
  background-color: #4c4cff;
}

.icon-twitter {
  background-color: skyblue;
}

.icon-instagram {
  background-color: #f36c83;
}

.icon-tiktok {
  background-color: rgba(252, 73, 73, 0.85);
}

.boton, .boton--verde, .boton--azul {
  display: inline;
  width: 50px;
  text-decoration: none;
  padding: 5px;
  border: 3px solid skyblue;
  border-radius: 30px;
}

.boton--verde {
  background-color: lightgreen;
  border: 3px solid green;
}

.boton--azul {
  background-color: lightblue;
  border: 3px solid red;
  color: red;
}

/* mixin */
.boton--gris {
  display: inline-block;
  padding: 5px;
  border: 3px solid skyblue;
  background-color: #777;
}




.bgcolor1 {
  background-color: rgb(21, 36, 96);
  
}

.fontcolor1 {
  color: white;
  font-size: larger;
}

.font-title {
  font-size:larger;
  font-weight: 300;
  font-style: unset;
}


