* {
    padding: 50;
    margin: 5;
}


h1 {
    color: red;
    background: #030058;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.menu-bar {
    color: blanchedalmond;
    background: black;
    text-align: center;
    text-decoration: underline;
}

.article{
    color: white;
    background-color: blanchedalmond;
    border-style: groove;
    border-color: red;
    background-image: url(../OBg8.gif);
    background-position: center;
    width: 600px;
    height: 200px;
}

.log {
    color: red;
    background-color: whitesmoke;
    border-color: black;
    border-style:inset
}

.daily {
    color: white;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    background-position: center;
    width: 1000px;
    height: 300px;
    animation-name: mi-efecto;
    animation-duration: 10s;
    animation-iteration-count: infinite;


}

h4 {
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
}

.title {
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-decoration: underline;
    
}

div h5{
    font-size: x-large;        
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}

div p{
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;

}

#Hubble{
    color: red;
    background-image: url(../Imagenes/descarga.jpg);
    background-position: center;
    width: 600px;
    height: 200px;
    background-repeat: no-repeat;
}


#Artemis{
    color: red;
    background-image: url(../Imagenes/sls.jpg);
    background-position: center;
    width: 600px;
    height: 200px;
    background-repeat: no-repeat;
    
    
    
}

#Juno{
    color: red;
    background-image: url(../Imagenes/juno.jpg);
    background-position: center;
    width: 600px;
    height: 200px;
    background-repeat: no-repeat;
}

#Voyager{
    color: red;
    background-image: url(../Imagenes/Voyager_spacecraft.jpg);
    background-position: center;
    width: 600px;
    height: 200px;
    background-repeat: no-repeat;
}

#JamesW{
    color: red;
    background-image: url(../Imagenes/artist-impression.jpg);
    background-position: center;
    width: 600px;
    height: 200px;
    background-repeat: no-repeat;
}

#Mars{
    color: red;
    background-image: url(../Imagenes/e7079330-131f-11ec-8dc9-e81884c526c7.cf.jpg);
    background-position: center;
    width: 600px;
    height: 200px;
    background-repeat: no-repeat;
}

.box {
    border-color: #030058;
    border-style: inset;
    background-color: blanchedalmond;
    width: 200px;
    transition: width 1s;
    display: flex;
    flex-flow: column;
}

.box:hover {
    width: 500px;

}


*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

.flex-container{
    background-color: aquamarine;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: space-between;

}

.flex-item{
    background-color: white;
    color:black;
    width: 300px;
    height: 300px;
    border-color: black;
    transition: width 1s;
}

.flex-item:hover {
    width: 500px;


}


.flex-item img{
    width: 100%;
}

#header {
    background: linear-gradient(Black, White);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items:center ;

}

#header .logo {
    background-color: white;
    color: red;
    padding: 25px;
}

#header .menu ul {
    list-style: none;
    display: flex;
    
}

#header .menu ul li a {
    background-color: white;
    margin:10px ;
    padding: 10px ;
    border-radius: 10px;
    text-decoration: none;
}

.grid-container {
    display: grid;
    background-color: white;
    padding: 10px;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;

}

.grid-item {
    background-color: aquamarine;
    padding: 5px;

}

.box2 {
    transform: translate(150px, 5px);
}

@keyframes mi-efecto {

    0% {
        background-image: url(../Imagenes/e7079330-131f-11ec-8dc9-e81884c526c7.cf.jpg);
        width: 1000px;
        

    }

    50% {
        background-image: url(../Imagenes/sls.jpg);
        width: 1000px;
    }

    100% {
        background-image: url(../OBg8.gif) ;
        width: 1000px;
    }
    
}