
    div.gallery{
        margin: 5px;
        float: left;
        width: 250px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


        :hover{
            border: 1px solid #777;
        }

        img {
            width: 100%;
            height: auto;
        }
        

    }

    div.desc {
        padding: 15px;
        text-align: center;
    }

